h1 {
  text-align: center;
  display: block;
  font-family: "Nunito", sans-serif;
}

.homepageBanner {
  margin-top: 100px;
}

.titleImage {
  display: flex;
  width: 560px;
  height: 350px;
  padding: 20px;
  border-radius: 12px;
}
.linkTitle {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: black;
  text-decoration: none;
}

p {
  text-align: center;
  display: block;
}
a,
a:link,
a:active,
a:hover {
  text-decoration: none;
}
