h1,
p {
  text-align: center;
  display: block;
}

.homepageBanner {
  margin-top: 100px;
}

.titleImage {
  display: flex;
  width: 560px;
  height: 350px;
  padding: 20px;
  border-radius: 12px;
}
.linkTitle {
  display: flex;
  justify-content: center;
}
